/* Existing styles */

.half-size {
    /* width: 50% !important; */
    height: 600px!important;
  }
  /* Home.css */

  .box-area{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 70px;
}
.single-box{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 300px;
    height: auto;
    border-radius: 4px;
    background-color: red;
    text-align: center;
    margin: 20px;
    padding: 20px;
    transition: .3s;
    box-shadow: 1px 0 5px 0 rgba(0,0,0,0.6) ;
}
.img-area{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height:80px;
    border: 6px solid #ddd;
    border-radius: 50%;
    margin-bottom: 10px;
    padding: 20px;
    background-size: cover;
    background-position: center center;
}
.single-box:nth-child(1) .img-area{
    background-image: url(https://images.pexels.com/photos/1222271/pexels-photo-1222271.jpeg?auto=compress&cs=tinysrgb&w=600);
}
.single-box:nth-child(2) .img-area{
    background-image: url(https://images.pexels.com/photos/1239291/pexels-photo-1239291.jpeg?auto=compress&cs=tinysrgb&w=600);
}
.single-box:nth-child(3) .img-area{
    background-image: url(https://images.pexels.com/photos/35537/child-children-girl-happy.jpg?auto=compress&cs=tinysrgb&w=600);
}
.header-text{
    font-size: 24px;
    font-weight: 500px;
    line-height: 48px;
}
.img-text h3{
    margin: 10px 0;
}
.img-text p{
    font-size: 15px;
    font-weight: 400px;
    line-height: 30px;
}
.single-box:hover{
    background-color: darkorange;
    color: #fff;
}
.single-box:hover .line{
    background-color: #fff;
}
.para{
    color: rgb(39, 45, 45);
    font-family: serif;
}

