General styles
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  html, body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    height: 100%;
  }
  
  .container {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .content {
    background-color: white;
    width: 500px;
    padding-bottom: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    border-radius: 8px;
  }
  
  img {
    width: 100%;
    height: 20%;
  }
  
  .form-title {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
  }
  
  form {
    padding: 0px 40px;
  }
  
  .alert {
    margin-top: 10px;
  }
  
  input[type="text"],
  input[type="number"],
  input[type="email"],
  input[type="password"],
  input[type="date"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .beside {
    display: flex;
    justify-content: space-between;
  }
  
  .beside select {
    width: 48%;
  }
  
  .button-signup {
    color: #ffffff;
    background-color: #4caf50;
    height: 40px;
    width: 100%;
    margin-top: 15px;
    cursor: pointer;
    border: none;
    border-radius: 2%;
    outline: none;
    text-align: center;
    font-size: 16px;
    transition-duration: 0.4s;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .button-signup:hover {
    background-color: #0056b3;
  }
  
  .login-link {
    margin-top: 10px;
    text-align: center;
  }
  .password-confirmation {
    position: relative;
  }
  
  .password-confirmation .checkmark {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    width: 24px; /* Adjust size as needed */
    height: 24px; /* Adjust size as needed */
    background-color: green; /* Background color inside the circle */
    color: white; /* Color of the checkmark */
    border-radius: 50%; /* Makes the element circular */
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1em; /* Adjust size as needed */
    line-height: 1;
  }
  
  input.valid {
    border-color: green;
  }
  
  input.invalid {
    border-color: red;
  }